.task-card, .task-list-add-task-icon{
  border: 2px solid #0328fa;
  border-radius: 1vh;
  margin: 10px;
  width: 90%;
}

.task-card-header{
  background-color: #0328fa;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.task-card-body{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.task-card-body p{
  margin: 1vh 1vw;
}

.task-card-body .title{
  font-weight: 700;
}

/* .delayed-task{
  border: 2px solid red;
} */

.task-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.task-list-add-task-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vh;
  cursor: pointer;
  color: #0328fa99;
  border: none;
}